*{
    padding: 0;
    margin: 0;
}


header{
    background-color: black;
    color: white;
    padding: 2.5vh 1vw;
    margin-bottom: 0vh; 
}


main{
    background-color: wheat;
       
    
}
form{
    padding: 2vh;
    text-align: center;
}

footer{
    padding: 2.5vh 1vw;
    background-color: black;
    color: white;
    text-align: center;
}








.listaDeMangas{
    margin: 0 20vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 70%;
    gap: 1vw ;
   
    
    
}

.manga{
    background-color: orange;
    width: 100%;  
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 2vh;
     
       
}

.imagem{
    height: 30vh;
    grid-column: 1/2 ;
  
    
}

ul{
width: 100%;
    grid-column: 2/3;
   
}

@media screen and (min-device-width: 481px) and (max-device-width: 800px ) {

    form{
        display: flex;
        justify-content: center
        }
        

    #pesquisa{
        width: 50vw;
    }

    .manga{
        display: flex;
        flex-direction: column;

    }

    .listaDeMangas{
        width: 100vw;
        margin: 010vw 10vw;
    }

   
    
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    *{margin: 0;
        padding: 0;
    }
   

    .listaDeMangas{
       width: 100%;
        margin: 0;
        gap: 2vh;
        
        
    }

    .manga{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 94vw;
        
    }

    ul{

        display: flex;
        flex-direction: column;
        margin: 2vh 1vw;
        flex-wrap: wrap;
    }

    li{
        list-style: none;
    }
    
    .imagem{
        height: 50vh;
        width: 80vw;
        align-self: center;
        
    }
}

